html {
  text-rendering: optimizeLegibility;
  --fun-color: #F6A623;
  --text-color: #333;
  --dark-background: #91C8E1;
  --light-text-color: grey;
  --font-special: 'Bitter', serif;
  --font-normal: 'Lora', sans-serif;
  --font-signature: 'Calligraffitti', serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
  margin: 0;
  font-family: var(--font-special);
  letter-spacing: .03em;
  padding-top: 1em;
}

h1 {
  font-size: 2em;
}

p {
  font-size: 1.1em;
  line-height: 1.6em;
}

body {
  font-family: var(--font-normal);
  color: var(--text-color);
  margin: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

p a {
  color: var(--fun-color);
  text-decoration: none;
  border-bottom: 2px solid var(--fun-color);
}

a:hover {
  color: var(--fun-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul p a {
  color: var(--fun-color);
  text-decoration: none;
}

ul p a:hover {
  color: var(--text-color);
}

img {
  display: block;
  margin: auto;
  width: 75%;
}


.signature {
  font-family: var(--font-signature);
  color: var(--fun-color)
}

.site-content {
  min-height: 100vh;
  margin: 0 auto;
  width: 75%;
}

.title-main {
  text-align: center;
  padding-bottom: 1em;
  font-family: var(--font-special)
}


.asymmetric {
 position: relative;
 background-color: var(--dark-background);
 background-size: 150% auto;
 height: auto;
 width: 100%;
 margin-left: -12em;
 margin-right: -12em;
 padding-left: 12em;
 padding-right: 12em;
 margin-top: 6em;
 margin-bottom: 7em;
}

.asymmetric::before {
 position: absolute;
 content: "";
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 background-color: var(--dark-background);
 transform-origin: top right;
 transform: skewY(-5deg);
 z-index: -10;
 border: #333 2px solid;
}

.asymmetric::after {
 position: absolute;
 content: "";
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 background-color: var(--dark-background);
 transform-origin: bottom right;
 transform: skewY(7deg);
 z-index: -10;
 border: #333 2px solid;
}



/*header*/
header {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 3em;
}

.header-all {
  width: 90%;
}

.header-title {
  font-size: 3em;
  line-height: 1.2em;
  font-weight: 400;
}

.sub-header {
  font-family: var(--font-normal);
  color: var(--light-text-color);
  font-size: 1em;
  padding-bottom: 3em;
}

.nav-header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5em;
  line-height: 2.75em;
  width: 350px;
  margin:auto;
}

.boarder-header {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}




/*index*/
.index-all {
background-image: linear-gradient(to bottom, white 20%, #91C8E1 100%);
}

.index-title-main {
  text-align: center;
}

.index-hero-text {
  text-align: center;
  width: 75%;
  margin: 1em auto 0 auto;
}

.index-signature {
  font-family: var(--font-signature);
  text-align: center;
  margin-bottom: 2em;
}


.index-sub-title {
  margin-top: 1em;
  text-align: center;
}


.plane-index {
  margin: 4em auto;
}

.index-blog-summary {
  display: flex;
  flex-direction: row;
  margin: 2em 0;
  justify-content: center;
  padding: 0;
}

.index-blog-summary-column {
 padding-right: 2em; 
 width: 250px;
 height: auto;
}

.index-blog-summary-column:last-child {
 padding-right: 0; 
}



.index-blog-summary-img {
  margin: 0;
  padding: 0;

}

.index-blog-summary-category {
  color: var(--light-text-color);
  margin: 0;
  padding: 0;
}

.index-blog-summary-title {
  font-family: var(--font-normal);
  margin: 0;
  padding: 0.5em 0;
  font-size: 1.25em;
}

.index-blog-summary-date {
  color: var(--light-text-color);
}

.index-blog-summary p {
  font-size: 1em;
}

.index-blog-summary-read-more {
  float: right;
  color: var(--text-color);
  border-bottom: var(--text-color) solid 2px;
  font-weight: 600;
}

.index-blog-summary-read-more:hover {
  color: var(--fun-color);
  border-bottom: var(--fun-color) solid 2px;
}

.hover04 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover04 figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.column04::after {
  content: '';
  clear: both;
  display: block;
}

.column04 div {
  position: relative;
  float: left;
  width: 250px;
  height: 150px;}

.figure04 {
  width: 250px;
  height: 150px;
  overflow: hidden;
}

.figure04 img {
  width: 100%;
  height: 100%;
}



.index-world-map {
  display: block;
  margin: 2em auto;
  width: 75%;
  height: auto;
  min-height: 350px;
  border: 2px solid #333;
}


@media only screen and (max-width: 42em) {
  .plane-index {
    width: 100%;
  }
}


@media only screen and (max-width: 56em) {
  .index-blog-summary {
    flex-direction: column;
    padding: 3em 0;
    width: 100%;
    margin: auto;
    justify-content: center;
    max-width: 450px;
  }
  .index-blog-summary-column {
    padding-bottom: 3em; 
    width: auto;
    max-width: 450px;
  }
  .figure04 {
    width: 100%;
    height: 200px;
  }
  .figure04 img {
    width: 100%;
    height: auto;
  }

.plane-index {
  width: 120%;
}

.index-world-map {
  width: 100%;
  height: auto;
  min-height: 270px;
}
}




/*blog summary*/

.blog-summary-row {
  display: flex;
  flex-direction: row;
  padding: 3em 0;
  width: 800px;
  max-width: 90%;
  margin: auto;
}

.blog-summary-category {
  color: var(--light-text-color);
  text-transform: uppercase;
}

.blog-summary-date {
  color: var(--light-text-color);
  padding: 0.5em 0;
}

.blog-summary-title {
 padding-top: 0.25em;
 font-family: var(--font-normal);
}

.blog-summary-read-more {
  float: right;
}




/*zoom in bilder*/
.hover03 figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover03 figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.column {
  margin: 0 2em 0 0;
  padding: 0;
}

.column::after {
  content: '';
  clear: both;
  display: block;
}

.column div {
  position: relative;
  float: left;
  width: 280px;
  height: 280px;
  margin: 0 0 0 25px;
  padding: 0;
}

figure {
  width: 280px;
  height: 280px;
  margin: 0 0 1em 0;
  padding: 0;
  overflow: hidden;
}

figure img {
  width: auto;
  height: 100%;
}



@media only screen and (max-width: 48em) {
  .blog-summary-row {
    flex-direction: column;
    padding: 3em 0;
    width: 100%;
    margin: auto;
  }
  figure {
    width: 100%;
    height: 200px;
  }
  figure img {
    width: 100%;
    height: 200px;
  }
}






/*blogposts*/
.blog-post-title {
  text-align: center;
  font-size: 2.5em;
  padding-bottom: 0.3em;
}

.blog-post-date {
  color: var(--light-text-color);
  text-align: center;
  padding-bottom: 1.5em;
}

.blog-post-hero {
  justify-content: center;
  width: 100%;
}


.blog-post-img-single {
  width: 75%;
}


.blog-post-gallery { 
  padding: .5vw;
  font-size: 0;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: row wrap; 
  flex-flow: row wrap; 
  display: -webkit-box;
  display: flex;
}
.blog-post-gallery div { 
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto; 
  width: 200px; 
  margin: .5vw; 
}
.blog-post-gallery div img { 
  width: 100%; 
  height: auto; 
}
@media screen and (max-width: 400px) {
  .blog-post-gallery div {margin: 0; }
  .blog-post-gallery {padding: 0; }
  
}





/*instagram feed*/

#instafeed img {
  padding: 1em;
  width: 40%;
}

.insta-more {
  text-align: center;
}

.insta-more a {
  border-bottom: 2px solid var(--fun-color);
}




/*footer*/
.footer-normal {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 5em;
  padding-top: 2em;
  padding-bottom: 1em;
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-social img {
  padding: 1em;
  height: 2em;
  width: 2em;
  filter: invert(0%);
}

.footer-social img:hover {
  padding: 1em;
  height: 2em;
  width: 2em;
  filter: invert(100%);
}


.footer-index {
  margin-top: 5em;
  padding-top: 35%;
  position: relative;
  background: url('/img/footer-mountains-2.png') no-repeat center bottom; 
  background-size: 100%;
  overflow: hidden;
}