html {
  text-rendering: optimizeLegibility;
  --fun-color: #f4b14b;
  --text-color: #333;
  --light-text-color: grey;
  --font-special: 'Source Serif Pro', serif;
  --font-normal: 'Lora', sans-serif;
  --font-signature: 'Calligraffitti', serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
  margin: 0;
  font-family: var(--font-special);
  letter-spacing: .03em;
  padding-top: 1em;
}


p {
  line-height: 1.6em;
}

body {
  font-family: var(--font-normal);
  color: var(--text-color);
  margin: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

p a {
  color: var(--fun-color);
  text-decoration: none;
  border-bottom: 1px solid var(--fun-color);
}

a:hover {
  color: var(--fun-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul p a {
  color: var(--fun-color);
  text-decoration: none;
/*  border-bottom: 1px solid var(--fun-color);
*/}

ul p a:hover {
  color: var(--text-color);
}



.signature {
  font-family: var(--font-signature);
  color: var(--fun-color)
}

.site-content {
  min-height: 100vh;
  margin: auto;
  width: 75%;
}



/*header*/
header {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 3em;
}

.header-title {
  font-size: 3em;
  line-height: 1.2em;
  font-weight: 400;
}

.sub-header {
  font-family: var(--font-normal);
  color: var(--light-text-color);
  font-size: 1em;
  padding-bottom: 2em;
}

.nav-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  font-size: 1.5em;
  padding: 0.5em;
}

.boarder-header {
  border-top: 1px solid var(--fun-color);
  border-bottom: 1px solid var(--fun-color);
}

/*sides*/
.title-main {
  text-align: center;
  padding-bottom: 2em;
}

.color-background {
  background-color: var(--fun-color);
}


/*index*/
.location {
  color: var(--fun-color)
}

.index-latest-post-date {
  color: var(--light-text-color);
  padding-top: 1em;
  padding-bottom: 1em;
}

.index-latest-post-img {
  width: 50%;
}


/*blog summary*/
.blog-summary-date {
  color: var(--light-text-color);
  padding: 0.5em 0;
}

.blog-summary-img {
  width: 300px;
  height: 300px;
  padding-right: 1em;
}

.blog-summary-row {
  display: flex;
  flex-direction: row;
  padding: 3em 0;
}

.blog-summary-category {
  color: var(--light-text-color);
  text-transform: uppercase;
}

.blog-summary-title {
 padding-top: 0.25em;
}


/*blogposts*/
.blog-post-title {
  text-align: center;
  font-size: 2.5em;
  padding-bottom: 0.3em;
}

.blog-post-date {
  color: var(--light-text-color);
  text-align: center;
  padding-bottom: 1.5em;
}

.blog-post-hero {
  justify-content: center;
  width: 100%;
}

.blog-post-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -3em;
}

.blog-post-gallery img {
  width: 30%;
  height: auto;
  padding: 1em 0;
}

.blog-post-img-single {
  width: 100%;
}



/*footer*/
footer {
  text-align: center;
  margin: 4em 0;
}