<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
		{{ partial "head.html" . }}
	</head>
	<body>

	{{ partial "header.html"  . }} 

	<div class="site-content error"><h1>Something's wrong here...</h1> <p>The side you were looking for doesn't exist. But don't worry. You can head back or try something else.</p>
	<h2>Suggestions from my end:</h2>
	<ul>
	<li>
	<a href="/">Go back to the beginning.</a>	
	</li>
	<li>
	<a href="/blog">Read something.</a>
	</li>
	<li>
	<a href="/contact">Contact me.</a>
	</li>
	</ul>
</div>
	
	{{ partial "footer.html" . }}

	<script src="{{ .Site.BaseURL }}js/functions.js"></script>

	</body>
</html>