<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
		{{ partial "head.html" . }}
</head>

<body class="index-all">

{{ partial "header.html"  . }} 

<div class="site-content">

<h1 class="index-title-main">Hallo</h1>

<p class="index-hero-text">wir sind Verena & Flo und seit Sommer 2016 auf großer Reise.

Hier erfahrt ihr alles über uns, wo wir sind, was wir machen und vieles mehr.
<br> <br>
Sonnige Grüße aus der weiten Welt.</p>

<h1 class="index-signature">Verena & Flo</h1>


<!-- <h1 class="location color-background">Hier sind wir gerade: <br> Santa Teresa, Costa Rica</span></h1> -->

<img class="plane-index" src="/img/plane.png" alt="">

<div class="asymmetric">
	<h1 class="index-sub-title">Die letzten Blogposts</h1>

<ul class="index-blog-summary">			
			{{ range first 3 .Data.Pages }}
	<li class="index-blog-summary-column">
<div>
	<div class="hover04 column04">
		<a href="{{ .Permalink }}">
			<figure class="figure04"><img class="index-blog-summary-img" src="{{ .Site.BaseURL}}{{ .Params.image }}" alt="">
			</figure>
		</a>
	</div>
</div>

<div>
	<div class="index-blog-summary-category">

		{{ .Params.Category }}
	</div>

	<h2 class="index-blog-summary-title">
		<a href="{{ .Permalink }}">{{ .Title }}</a>
	</h2>		

	<div class="index-blog-summary-date">
		Veröffentlicht am {{ .Date.Format "02. 01. 2006" }}
	</div>
				

	<p>
		{{ .Summary }}
	</p>

	<p>
		<a class="index-blog-summary-read-more" href='{{ .Permalink }}'>Weiter lesen →</a>
	</p>

</div>

	</li>
	{{ end }}
</ul>
</div>

<h1 class="index-sub-title">Unsere bisherige Reiseroute</h1>

<!-- <img class="index-world-map" src="/img/world-map.png" alt="">
 -->

<div style="position: relative;margin: 5px 0 5px 0;padding-bottom: 56.25%;height: 0;clear: both;"><iframe style="position: absolute;top: 0;left: 0;width: 75%;height: 75%;border: 0;" src="https://www.tripline.net/map?tripId=14632050231010138626D8E580228723&onSite=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>


	<script src="{{ .Site.BaseURL }}js/functions.js"></script>

</div>

{{ partial "footer.html" . }} 


	</body>
</html>

