<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">

<head>
		{{ partial "head.html" . }}
</head>

<body>

{{ partial "header.html"  . }} 

<div class="site-content">

<h1 class="title-main">Hallo</h1>

<p>Willkommen auf <strong>Immer gutes Wetter</strong>. Wir sind Verena & Flo und seit August 2016 sogenannte digitale Nomaden. Wir haben in Deutschland alles verkauft, was sich so angesammelt hat und sind mit <a href="">Rucksack und Laptop</a> losgezogen.</p>

<p>Wir hoffen euch gefällt unsere Seite und ihr findet Inspirationen für euer nächstes Abenteuer.</p>

<h1 class="location color-background">Hier sind wir gerade: <br> Santa Teresa, Costa Rica</span></h1>


<div>
	<h1 class="color-background index-sub-title">Der neuste Blogpost</h1>

<ul>			
			{{ range first 1 .Data.Pages }}
	<li class="index-blog-summary-row">
<div>
	<div class="hover03 column">
		<a href="{{ .Permalink }}">
			<figure><img class="index-blog-summary-img" src="{{ .Site.BaseURL}}{{ .Params.image }}" alt="">
			</figure>
		</a>
	</div>
</div>

<div class="index-blog-summary-column">
	<div class="index-blog-summary-category">

		{{ .Params.Category }}
	</div>

	<h2 class="index-blog-summary-title">
		<a href="{{ .Permalink }}">{{ .Title }}</a>
	</h2>		

	<div class="index-blog-summary-date">
		Veröffentlicht am {{ .Date.Format "02. 01. 2006" }}
	</div>
				

	<p>
		{{ .Summary }}
	</p>

	<p>
		<a class="index-blog-summary-read-more" href='{{ .Permalink }}'>Weiter lesen →</a>
	</p>

</div>

	</li>
	{{ end }}
</ul>
</div>

<h1 class="color-background index-sub-title">Unsere bisherige Reiseroute</h1>

<!-- <img class="index-world-map" src="/img/world-map.png" alt="">
 -->

<div style="position: relative;margin: 5px 0 5px 0;padding-bottom: 56.25%;height: 0;clear: both;"><iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;border: 0;" src="https://www.tripline.net/map?tripId=14632050231010138626D8E580228723&onSite=0" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>




	<script src="{{ .Site.BaseURL }}js/functions.js"></script>

</div>

{{ partial "footer.html"  . }} 


	</body>
</html>

